<p id="notice"><%= notice %></p>

<h1>Hello <%= @guest.name %>!</h1>

<p>
  Welcome to
  <strong><%= @guest.party.name %></strong>
</p>

<h2>Add New Track</h2>
<%= render 'tracks/form', track: @track %>

<h2>List of party tracks</h2>

<%= render 'tracks/tracks_list', tracks: @guest.party.tracks %>

<%= link_to('Bye', guests_url, class: 'btn btn-primary') %>
