<p id="notice"><%= notice %></p>

<p>
  <strong>Party:</strong>
  <%= @track.party %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @track.guest %>
</p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @track.address %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
